@use "../../styles/variables" as *;
@use "../../styles/reset" as *;

.pokemon-card {
  display: flex;
  flex-direction: column;
  background-color: $color-foreground;
  max-width: 200px;
  border-radius: 3px;
  overflow: hidden;

  > .card__image {
    transform: scale(1.25);
  }

  > .card__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > .card__heading {
      font-size: 1.5rem;
      font-weight: normal;
    }

    > .card__text {
      color: $color-secondary;
    }
  }
}

button {
  background-color: $color-foreground;
  padding: 5px;
  margin: 10px 5px;
  cursor: pointer;
  transition: background-color 1s;
}

button:hover {
  background-color: $color-primary;
  color: $color-foreground;
}
