@use "../../styles/variables" as *;
@use "../../styles/reset" as *;


.search-box {
    background-color: #eee;

    &__name-search {
        padding: 5px;
        font-size: 16px;
        border: 2px grey solid;
        border-radius: 5px;
        color: $color-black;
    
        &:focus {
          border: 2px $color-primary solid;
          outline: none;
        }
    
    }

    &__fuzzy-ind {
        padding: 10px 5px;
        font-size: 16px;
        color: $color-black;
    
    }

    label {
        margin: 10px 2px;
    }

    &__results {
        margin: 15px 2px;
    }

}