* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.poke-image-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  grid-gap: 10px;
  justify-items: center;
}